=====================================================

Graded Challange 2

Nama:Rayindrana Rashad

Batch:022

Saya membuat program ini untuk membantu divisi Finance dalam mengatur data dan membuat Database untuk mereka

======================================================

In [ ]:
import pandas as pd

# Data Exploration

## Load Data

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/FTDS-learning-materials/phase-0/main/src/Financials.csv")

df

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,"$2,475.00",$260.00,$300.00,"$7,42,500.00","$1,11,375.00","$6,31,125.00","$6,18,750.00","$12,375.00",01/03/2014,3,March,2014
696,Small Business,Mexico,Amarilla,High,$546.00,$260.00,$300.00,"$1,63,800.00","$24,570.00","$1,39,230.00","$1,36,500.00","$2,730.00",01/10/2014,10,October,2014
697,Government,Mexico,Montana,High,"$1,368.00",$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",01/02/2014,2,February,2014
698,Government,Canada,Paseo,High,$723.00,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,01/04/2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,"$1,806.00",$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",01/05/2014,5,May,2014

## Data Type

In [ ]:
df.dtypes

Segment                  object
Country                  object
 Product                 object
 Discount Band           object
 Units Sold              object
 Manufacturing Price     object
 Sale Price              object
 Gross Sales             object
 Discounts               object
  Sales                  object
 COGS                    object
 Profit                  object
Date                     object
Month Number              int64
 Month Name              object
Year                      int64
dtype: object

## Info Summary Data

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Segment                700 non-null    object
 1   Country                700 non-null    object
 2    Product               700 non-null    object
 3    Discount Band         700 non-null    object
 4    Units Sold            700 non-null    object
 5    Manufacturing Price   700 non-null    object
 6    Sale Price            700 non-null    object
 7    Gross Sales           700 non-null    object
 8    Discounts             700 non-null    object
 9     Sales                700 non-null    object
 10   COGS                  700 non-null    object
 11   Profit                700 non-null    object
 12  Date                   700 non-null    object
 13  Month Number           700 non-null    int64
 14   Month Name            700 non-null    object
 15  Year                   700 non-null    int64
dtypes: int64(2), object(14)
memory usage: 87.6+ KB

## Data Explanation

|Column |Explanation
|:-|-:
|Segment|Segmentasi Penjual
|Country|Negara Asal
|Product|Produk Yang Dijual
|Discount Band|Besaran Diskon
|Units Sold|Berapa Banyak Barang yang Terjual
|Manufacturing Price|Biaya Produksi Produk
|Sale Price|Harga Diskon
|Gross Sales|Penjualan Bruto
|Discounts|Besaran Discount
|Sales|Penjualan
|COGS|Harga Pokok Penjualan
|Profit|Keuntungan Penjualan
|Date|Tanggal Penjualan
|Month Number|Angka Bulan Penjualan
|Month Name|Nama Bulan Penjualan
|Year|Tahun Penjualan

In [ ]:
df.Segment.unique()

array(['Government', 'Midmarket', 'Channel Partners', 'Enterprise',
       'Small Business'], dtype=object)

In [ ]:
df.Country.unique()

array(['Canada', 'Germany', 'France', 'Mexico',
       'United States of America'], dtype=object)

In [ ]:
df[" Product "].unique()

array([' Carretera ', ' Montana ', ' Paseo ', ' Velo ', ' VTT ',
       ' Amarilla '], dtype=object)

In [ ]:
df[" Discount Band "].unique()

array([' None ', ' Low ', ' Medium ', ' High '], dtype=object)

In [ ]:
df.columns

Index(['Segment', 'Country', ' Product ', ' Discount Band ', ' Units Sold ',
       ' Manufacturing Price ', ' Sale Price ', ' Gross Sales ', ' Discounts ',
       '  Sales ', ' COGS ', ' Profit ', 'Date', 'Month Number',
       ' Month Name ', 'Year'],
      dtype='object')

# Data Cleaning

## Column Manipulation

### Penghapusan Column

In [ ]:
#hapus kolom month number , month name , dan year

df = df.drop(['Month Number', ' Month Name ', 'Year'], axis=1)

### Penggantian Nama Column

In [ ]:
df = df.rename(columns={" Product ":"Product"," Discount Band ":"Discount_Band",
                        " Units Sold ":"Units_Sold"," Manufacturing Price ":"Manufacturing_Price"," Sale Price ":"Sale_Price",
                        " Gross Sales ":"Gross_Sales"," Discounts ":"Discounts"," Sales ":"Sales"," COGS ":
                        "COGS"," Profit ":"Profit"," Month Number ":"Month_Number"," Month Name ":"Month_Name",})

In [ ]:

df = df.rename(columns={"Date": "Tanggal"})

In [ ]:
df

,Segment,Country,Product,Discount_Band,Units_Sold,Manufacturing_Price,Sale_Price,Gross_Sales,Discounts,Sales,COGS,Profit,Tanggal
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,"$2,475.00",$260.00,$300.00,"$7,42,500.00","$1,11,375.00","$6,31,125.00","$6,18,750.00","$12,375.00",01/03/2014
696,Small Business,Mexico,Amarilla,High,$546.00,$260.00,$300.00,"$1,63,800.00","$24,570.00","$1,39,230.00","$1,36,500.00","$2,730.00",01/10/2014
697,Government,Mexico,Montana,High,"$1,368.00",$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",01/02/2014
698,Government,Canada,Paseo,High,$723.00,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,01/04/2014
699,Channel Partners,United States of America,VTT,High,"$1,806.00",$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",01/05/2014

## Penambahan Column

In [ ]:
# Tambahkan kolom 'Order_ID' pada DataFrame
df.insert(0, 'Order_ID', range(1, 1 + len(df)))

df

,Order_ID,Segment,Country,Product,Discount_Band,Units_Sold,Manufacturing_Price,Sale_Price,Gross_Sales,Discounts,Sales,COGS,Profit,Tanggal
0,1,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014
1,2,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014
2,3,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014
3,4,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014
4,5,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,696,Small Business,France,Amarilla,High,"$2,475.00",$260.00,$300.00,"$7,42,500.00","$1,11,375.00","$6,31,125.00","$6,18,750.00","$12,375.00",01/03/2014
696,697,Small Business,Mexico,Amarilla,High,$546.00,$260.00,$300.00,"$1,63,800.00","$24,570.00","$1,39,230.00","$1,36,500.00","$2,730.00",01/10/2014
697,698,Government,Mexico,Montana,High,"$1,368.00",$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",01/02/2014
698,699,Government,Canada,Paseo,High,$723.00,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,01/04/2014
699,700,Channel Partners,United States of America,VTT,High,"$1,806.00",$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",01/05/2014

## Data Changing

In [ ]:
#Menghilangkan White space pada column
df.columns = df.columns.str.strip()
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
df

,Order_ID,Segment,Country,Product,Discount_Band,Units_Sold,Manufacturing_Price,Sale_Price,Gross_Sales,Discounts,Sales,COGS,Profit,Tanggal
0,1,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014
1,2,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014
2,3,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014
3,4,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014
4,5,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,696,Small Business,France,Amarilla,High,"$2,475.00",$260.00,$300.00,"$7,42,500.00","$1,11,375.00","$6,31,125.00","$6,18,750.00","$12,375.00",01/03/2014
696,697,Small Business,Mexico,Amarilla,High,$546.00,$260.00,$300.00,"$1,63,800.00","$24,570.00","$1,39,230.00","$1,36,500.00","$2,730.00",01/10/2014
697,698,Government,Mexico,Montana,High,"$1,368.00",$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",01/02/2014
698,699,Government,Canada,Paseo,High,$723.00,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,01/04/2014
699,700,Channel Partners,United States of America,VTT,High,"$1,806.00",$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",01/05/2014

In [ ]:
#Hapus Dollar

for column in df.columns:
  if df[column].dtype == 'object':
    df[column] = df[column].str.replace('$', '', regex=False)

df

,Order_ID,Segment,Country,Product,Discount_Band,Units_Sold,Manufacturing_Price,Sale_Price,Gross_Sales,Discounts,Sales,COGS,Profit,Tanggal
0,1,Government,Canada,Carretera,None,"1,618.50",3.00,20.00,"32,370.00",-,"32,370.00","16,185.00","16,185.00",01/01/2014
1,2,Government,Germany,Carretera,None,"1,321.00",3.00,20.00,"26,420.00",-,"26,420.00","13,210.00","13,210.00",01/01/2014
2,3,Midmarket,France,Carretera,None,"2,178.00",3.00,15.00,"32,670.00",-,"32,670.00","21,780.00","10,890.00",01/06/2014
3,4,Midmarket,Germany,Carretera,None,888.00,3.00,15.00,"13,320.00",-,"13,320.00","8,880.00","4,440.00",01/06/2014
4,5,Midmarket,Mexico,Carretera,None,"2,470.00",3.00,15.00,"37,050.00",-,"37,050.00","24,700.00","12,350.00",01/06/2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,696,Small Business,France,Amarilla,High,"2,475.00",260.00,300.00,"7,42,500.00","1,11,375.00","6,31,125.00","6,18,750.00","12,375.00",01/03/2014
696,697,Small Business,Mexico,Amarilla,High,546.00,260.00,300.00,"1,63,800.00","24,570.00","1,39,230.00","1,36,500.00","2,730.00",01/10/2014
697,698,Government,Mexico,Montana,High,"1,368.00",5.00,7.00,"9,576.00","1,436.40","8,139.60","6,840.00","1,299.60",01/02/2014
698,699,Government,Canada,Paseo,High,723.00,10.00,7.00,"5,061.00",759.15,"4,301.85","3,615.00",686.85,01/04/2014
699,700,Channel Partners,United States of America,VTT,High,"1,806.00",250.00,12.00,"21,672.00","3,250.80","18,421.20","5,418.00","13,003.20",01/05/2014

In [ ]:
#remove dot and comas from the column

for column in df.columns:
  if df[column].dtype == 'object':
    df[column] = df[column].str.replace('.', '', regex=False)
    df[column] = df[column].str.replace(',', '', regex=False)

df

,Order_ID,Segment,Country,Product,Discount_Band,Units_Sold,Manufacturing_Price,Sale_Price,Gross_Sales,Discounts,Sales,COGS,Profit,Tanggal
0,1,Government,Canada,Carretera,None,161850,300,2000,3237000,-,3237000,1618500,1618500,01/01/2014
1,2,Government,Germany,Carretera,None,132100,300,2000,2642000,-,2642000,1321000,1321000,01/01/2014
2,3,Midmarket,France,Carretera,None,217800,300,1500,3267000,-,3267000,2178000,1089000,01/06/2014
3,4,Midmarket,Germany,Carretera,None,88800,300,1500,1332000,-,1332000,888000,444000,01/06/2014
4,5,Midmarket,Mexico,Carretera,None,247000,300,1500,3705000,-,3705000,2470000,1235000,01/06/2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,696,Small Business,France,Amarilla,High,247500,26000,30000,74250000,11137500,63112500,61875000,1237500,01/03/2014
696,697,Small Business,Mexico,Amarilla,High,54600,26000,30000,16380000,2457000,13923000,13650000,273000,01/10/2014
697,698,Government,Mexico,Montana,High,136800,500,700,957600,143640,813960,684000,129960,01/02/2014
698,699,Government,Canada,Paseo,High,72300,1000,700,506100,75915,430185,361500,68685,01/04/2014
699,700,Channel Partners,United States of America,VTT,High,180600,25000,1200,2167200,325080,1842120,541800,1300320,01/05/2014

In [ ]:
#ganti tipe data column Units_Sold , Manufacturing_Price , Sale_Price , Gross_Sale , Discounts , Sales , COGS dan Profit menjadi tipe data float

import pandas as pd
columns_to_convert = ['Units_Sold', 'Manufacturing_Price', 'Sale_Price', 'Gross_Sales', 'Discounts', 'Sales', 'COGS', 'Profit']

for column in columns_to_convert:
  df[column] = pd.to_numeric(df[column], errors='coerce')

In [ ]:
#ganti tipe data column Profit dan Discounts ke Integer
df['Profit'] = pd.to_numeric(df['Profit'], errors='coerce').fillna(0).astype(int)
df['Discounts'] = pd.to_numeric(df['Discounts'], errors='coerce').fillna(0).astype(int)

In [ ]:
#Ganti tipe data column Date menjadi Datetime64
df['Tanggal'] = pd.to_datetime(df['Tanggal'])

df.dtypes

Order_ID                        int64
Segment                        object
Country                        object
Product                        object
Discount_Band                  object
Units_Sold                      int64
Manufacturing_Price             int64
Sale_Price                      int64
Gross_Sales                     int64
Discounts                       int64
Sales                           int64
COGS                            int64
Profit                          int64
Tanggal                datetime64[ns]
dtype: object

In [ ]:
df.columns

Index(['Order_ID', 'Segment', 'Country', 'Product', 'Discount_Band',
       'Units_Sold', 'Manufacturing_Price', 'Sale_Price', 'Gross_Sales',
       'Discounts', 'Sales', 'COGS', 'Profit', 'Tanggal'],
      dtype='object')

## Check and Handling Missing Value

###Check Missing Value

In [ ]:
# Check for missing values in the DataFrame
df.isnull().sum()

Order_ID               0
Segment                0
Country                0
Product                0
Discount_Band          0
Units_Sold             0
Manufacturing_Price    0
Sale_Price             0
Gross_Sales            0
Discounts              0
Sales                  0
COGS                   0
Profit                 0
Tanggal                0
dtype: int64

###Handling Missing Value

In [ ]:
# Replace missing values in the 'Discounts' column with 0
df['Discounts'].fillna(0, inplace=True)

# Check if missing values have been handled
print(df.isnull().sum())

Order_ID               0
Segment                0
Country                0
Product                0
Discount_Band          0
Units_Sold             0
Manufacturing_Price    0
Sale_Price             0
Gross_Sales            0
Discounts              0
Sales                  0
COGS                   0
Profit                 0
Tanggal                0
dtype: int64

<ipython-input-363-e19750267ca7>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Discounts'].fillna(0, inplace=True)

In [ ]:
# Interpolate missing values in the 'Profit' column
df['Profit'] = df['Profit'].interpolate()

# Check for missing values again to ensure interpolation worked
print(df.isnull().sum())

df

Order_ID               0
Segment                0
Country                0
Product                0
Discount_Band          0
Units_Sold             0
Manufacturing_Price    0
Sale_Price             0
Gross_Sales            0
Discounts              0
Sales                  0
COGS                   0
Profit                 0
Tanggal                0
dtype: int64

,Order_ID,Segment,Country,Product,Discount_Band,Units_Sold,Manufacturing_Price,Sale_Price,Gross_Sales,Discounts,Sales,COGS,Profit,Tanggal
0,1,Government,Canada,Carretera,None,161850,300,2000,3237000,0,3237000,1618500,1618500,2014-01-01
1,2,Government,Germany,Carretera,None,132100,300,2000,2642000,0,2642000,1321000,1321000,2014-01-01
2,3,Midmarket,France,Carretera,None,217800,300,1500,3267000,0,3267000,2178000,1089000,2014-01-06
3,4,Midmarket,Germany,Carretera,None,88800,300,1500,1332000,0,1332000,888000,444000,2014-01-06
4,5,Midmarket,Mexico,Carretera,None,247000,300,1500,3705000,0,3705000,2470000,1235000,2014-01-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,696,Small Business,France,Amarilla,High,247500,26000,30000,74250000,11137500,63112500,61875000,1237500,2014-01-03
696,697,Small Business,Mexico,Amarilla,High,54600,26000,30000,16380000,2457000,13923000,13650000,273000,2014-01-10
697,698,Government,Mexico,Montana,High,136800,500,700,957600,143640,813960,684000,129960,2014-01-02
698,699,Government,Canada,Paseo,High,72300,1000,700,506100,75915,430185,361500,68685,2014-01-04
699,700,Channel Partners,United States of America,VTT,High,180600,25000,1200,2167200,325080,1842120,541800,1300320,2014-01-05

In [ ]:
# Simpan DataFrame yang sudah di-cleaning ke file CSV baru
df.to_csv('cleaned_financials.csv', index=False)

In [ ]:
df.dtypes

Order_ID                        int64
Segment                        object
Country                        object
Product                        object
Discount_Band                  object
Units_Sold                      int64
Manufacturing_Price             int64
Sale_Price                      int64
Gross_Sales                     int64
Discounts                       int64
Sales                           int64
COGS                            int64
Profit                          int64
Tanggal                datetime64[ns]
dtype: object

#Data Normalization

##Data Normalisasi sampai 3NF

In [ ]:
# Memisahkan tabel Product
product_df = df[['Product', 'Manufacturing_Price']].drop_duplicates()
product_df = product_df.rename(columns={'Manufacturing_Price': 'Product_Manufacturing_Price'})
product_df.insert(0, 'Product_ID', range(1, 1 + len(product_df)))

# Memisahkan tabel Segment
segment_df = df[['Segment']].drop_duplicates()
segment_df.insert(0, 'Segment_ID', range(1, 1 + len(segment_df)))

# Memisahkan tabel Country
country_df = df[['Country']].drop_duplicates()
country_df.insert(0, 'Country_ID', range(1, 1 + len(country_df)))

# Memisahkan tabel Discount Band
discount_band_df = df[['Discount_Band']].drop_duplicates()
discount_band_df.insert(0, 'Discount_Band_ID', range(1, 1 + len(discount_band_df)))

# Menggabungkan kembali tabel dengan foreign key
df = pd.merge(df, product_df, on='Product', how='left')
df = pd.merge(df, segment_df, on='Segment', how='left')
df = pd.merge(df, country_df, on='Country', how='left')
df = pd.merge(df, discount_band_df, on='Discount_Band', how='left')

# Membuat tabel Sales
sales_df = df[['Order_ID', 'Segment_ID', 'Country_ID', 'Product_ID', 'Discount_Band_ID', 'Units_Sold',
              'Sale_Price', 'Gross_Sales', 'Discounts', 'Sales', 'COGS', 'Profit', 'Tanggal']]

# Menghapus kolom yang tidak diperlukan di tabel sales
df = df.drop(['Product', 'Segment', 'Country', 'Discount_Band', 'Manufacturing_Price'], axis=1)

# Menampilkan tabel
print("Tabel Sales:")
print(sales_df.head())
print("\nTabel Product:")
print(product_df.head())
print("\nTabel Segment:")
print(segment_df.head())
print("\nTabel Country:")
print(country_df.head())
print("\nTabel Discount Band:")
print(discount_band_df.head())

# Simpan tabel ke file CSV
sales_df.to_csv('sales.csv', index=False)
product_df.to_csv('product.csv', index=False)
segment_df.to_csv('segment.csv', index=False)
country_df.to_csv('country.csv', index=False)
discount_band_df.to_csv('discount_band.csv', index=False)

Tabel Sales:
   Order_ID  Segment_ID  Country_ID  Product_ID  Discount_Band_ID  Units_Sold  \
0         1           1           1           1                 1      161850
1         2           1           2           1                 1      132100
2         3           2           3           1                 1      217800
3         4           2           2           1                 1       88800
4         5           2           4           1                 1      247000

   Sale_Price  Gross_Sales  Discounts    Sales     COGS   Profit    Tanggal
0        2000      3237000          0  3237000  1618500  1618500 2014-01-01
1        2000      2642000          0  2642000  1321000  1321000 2014-01-01
2        1500      3267000          0  3267000  2178000  1089000 2014-01-06
3        1500      1332000          0  1332000   888000   444000 2014-01-06
4        1500      3705000          0  3705000  2470000  1235000 2014-01-06

Tabel Product:
    Product_ID    Product  Product_Manufacturing_Price
0            1  Carretera                          300
6            2    Montana                          500
16           3      Paseo                         1000
31           4       Velo                        12000
38           5        VTT                        25000

Tabel Segment:
    Segment_ID           Segment
0            1        Government
2            2         Midmarket
7            3  Channel Partners
11           4        Enterprise
12           5    Small Business

Tabel Country:
    Country_ID                   Country
0            1                    Canada
1            2                   Germany
2            3                    France
4            4                    Mexico
15           5  United States of America

Tabel Discount Band:
     Discount_Band_ID Discount_Band
0                   1          None
53                  2           Low
213                 3        Medium
455                 4          High

##Save Normalization To CSV

##Primary Key dan Foreign Key

In [ ]:
"""
 Primary Keys:

 - segment_table: Segment_ID
 - country_table: Country_ID
 - product_table: Product_ID
 - discount_band_table: Discount_Band_ID
 - sales_table: Order_ID


 Foreign Keys:

 - sales_table:
   - Segment_ID referencing segment_table(Segment_ID)
   - Country_ID referencing country_table(Country_ID)
   - Product_ID referencing product_table(Product_ID)
   - Discount_Band_ID referencing discount_band_table(Discount_Band_ID)
"""

'\n Primary Keys:\n\n - segment_table: Segment_ID\n - country_table: Country_ID\n - product_table: Product_ID\n - discount_band_table: Discount_Band_ID\n - sales_table: (Date, Segment_ID, Country_ID, Product_ID, Discount_Band_ID)  (Composite primary key)\n\n\n Foreign Keys:\n\n - sales_table:\n   - Segment_ID referencing segment_table(Segment_ID)\n   - Country_ID referencing country_table(Country_ID)\n   - Product_ID referencing product_table(Product_ID)\n   - Discount_Band_ID referencing discount_band_table(Discount_Band_ID)\n'

In [ ]:
# Primary key for Sales Table is a composite key consisting of:
# - Date
# - Segment_ID
# - Country_ID
# - Product_ID
# - Discount_Band_ID

# This means that a unique combination of these columns will identify a specific sales record.

In [ ]:
df.dtypes

Order_ID                                int64
Units_Sold                              int64
Sale_Price                              int64
Gross_Sales                             int64
Discounts                               int64
Sales                                   int64
COGS                                    int64
Profit                                  int64
Tanggal                        datetime64[ns]
Product_ID                              int64
Product_Manufacturing_Price             int64
Segment_ID                              int64
Country_ID                              int64
Discount_Band_ID                        int64
dtype: object

#Pengujian Database